{{#post}}
    <nav class="nav--scroll">
        <a class="nav--scroll--back" href="/">

        </a>

        <div class="o-container--nav o-row">
            <div class="c-blog__titles nav--scroll--titlegroup">
                <h4 class="c-blog__title c-blog__title--navbar vibrant-alt">{{title}}</h4>
                <h5 class="c-blog__subtitle c-blog__subtitle--navbar"></h5>
            </div>
            <div class="nav--scroll__reading-time">

                <div class="nav--scroll__reading-progress">
                    <span class="nav--scroll__reading-progress__item ">•</span>
                    <span class="nav--scroll__reading-progress__item ">•</span>
                    <span class="nav--scroll__reading-progress__item ">•</span>
                    <span class="nav--scroll__reading-progress__item ">•</span>
                    <span class="nav--scroll__reading-progress__item ">•</span>
                    <span class="nav--scroll__reading-progress__item ">•</span>
                    <span class="nav--scroll__reading-progress__item ">•</span>
                    <span class="nav--scroll__reading-progress__item ">•</span>
                    <span class="nav--scroll__reading-progress__item ">•</span>
                    <span class="nav--scroll__reading-progress__item ">•</span>
                </div>
                <div class="nav--scroll__reading-total vibrant">
                    ~ <span class="nav--scroll__reading-total__content">0</span> min.
                </div>


            </div>
        </div>

    </nav>
{{/post}}