<nav id="mnu-nav" class="mnu-nav">
    <div class="mnu-navigation-wrapper">
        <a class="mnu-nav--close" href="#">

        </a>
        <a class="mnu-nav--logo" href="/">

        </a>
        <div class="mnu-navigation__table">
            <ul class="mnu-navigation__list">
                <!--li class="mnu-navigation__item">
                    <a href="#" class="mnu-navigation__link">
                        <h5 class="mnu-navigation__subtitle">Case studies</h5>
                        <h4 class="mnu-navigation__title">Dolor sit amet</h4>
                    </a>
                </li>
                <li class="mnu-navigation__item">
                    <a href="#" class="mnu-navigation__link">
                        <h5 class="mnu-navigation__subtitle">Dolor sit </h5>
                        <h4 class="mnu-navigation__title">My two cents</h4>
                    </a>
                </li-->
                <li class="mnu-navigation__item">
                    <a href="#" class="mnu-navigation__link">
                        <h5 class="mnu-navigation__subtitle">Important & memorable</h5>
                        <h4 class="mnu-navigation__title">the journal</h4>
                    </a>

                    <ul class="mnu-navigation__list--cat">
                        {{#foreach navigation}}
                            <li class="nav-{{slug}} mnu-navigation__item--cat {{#if current}} nav-current{{/if}}">
                                <a href="{{url absolute="true"}}" class="mnu-navigation__blog--cat mnu-navigation__blog--active">{{label}}</a>
                            </li>
                        {{/foreach}}
                    </ul>
                </li>
                <li class="mnu-navigation__item">
                    <a href="#" class="mnu-navigation__link">
                        <h5 class="mnu-navigation__subtitle">work with us</h5>
                        <h4 class="mnu-navigation__title">We're hiring</h4>
                    </a>
                    <ul class="mnu-navigation__list--cat">
                        <li class=" mnu-navigation__item--cat nav-current">
                            <a href="/we-are-hiring-full-stack-developer" class="mnu-navigation__blog--cat mnu-navigation__blog--active">Full Stack Developer</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>