.c-hero {
    height: 70%;
    width: 100%;
    display: table;
    position: relative;

    &__wrapper {
        height: 100%;
        display: block;
        position: absolute;
        width: 100%;
    }
    &__titlegroup{
        position: relative;
        display: table-cell;
        position: relative;
        vertical-align: middle;
        pointer-events: none;
        padding-top: 20vh;
        padding-bottom: 20vh;
        @include t-text-align(center);
        @include span(12);
        @include clearfix();
        @include susy-breakpoint($desktop, $generic_container--map) {
            @include span(10 of 12);
            @include push(1);
        }
    }
    &__title {
        margin: 0.5em 0 0;
        letter-spacing: -1px;
        line-height: 1;
        color: #fff;
        font-size: $font-size-mega;
        font-family: $font-family--secondary;
        font-weight: $font-weight-light;

        &--bold {
            font-weight: $font-weight-heavy ;
            font-style: normal;
        }
    }

    &__subtitle {
        @extend .o-subtitle;
        margin: 0;
        font-size: $font-size-base;
        font-weight: $font-weight-base;
        font-family: $font-family;
        line-height: 1.4;
        margin: 0;
        margin-top: 1rem;
        color: $white;
    }
}


