.c-blog {
    &__logo {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $white;
        background-size: auto 80%;
        height: 4rem;
        position: relative;
        @include bgSvg(blog__marchio--bold);
        @include zindex(2);
        @include clearfix();

        &--back, &--mnu {
            display: block;
            position: absolute;
            top: 0;
            height: 4rem;
            width: 4rem;
            background-color: $white;
            background-position: center;
            background-repeat: no-repeat;
            @include transition(background-color 500ms ease);
            &:hover {
                background-color: $gray-lightest;
            }
        }
        &--back {
            @include bgSvg(blog__nav--back);
            left: 0;
        }

        &--mnu {
            @include bgSvg(blog__nav--mnu);
            right: 0;
        }
    }

    & .c-blog__single {
        font-family: $font-family;
        font-size: $font-size-medium;
        font-weight: $font-weight-light;
        line-height: 2;
    }

    &__header {
        margin-top: $space--big;
        margin-bottom: $space--big;
        @include gutter();
        line-height: normal;
        @include t-text-align(center);
    }
    &__titles {

    }
    &__title {
        @extend .o-title;
        margin: 0;
        font-weight: $font-weight-base;
        text-transform: uppercase;
        line-height: 1;

        &--bold {
            font-weight: $font-weight-heavy;
        }
        &--navbar {
            font-size: $font-size-small;
            text-transform: none;
        }
    }

    &__subtitle {
        @extend .o-subtitle;
        margin: 0;
        font-size: $font-size-small;

        &--bold {
            font-weight: $font-weight-heavy;
        }

        &--navbar {
            font-size: $font-size-xx-small;
            font-weight: $font-weight-black;
        }

        &--list {
            font-weight: $font-weight-light;
            font-family: $font-family;
            line-height: 1.4;
            margin: 0;
            margin-top: 1rem;
            color: $gray-light;
        }

        &--list--header {
            color: $gray-light;
            margin-bottom: 1rem;

        }
    }

    &__excerpt {
        margin-top: $space--big;
        &__content {
            @include t-text-align(center);
            font-family: $font-family;
            font-style: italic;
            font-size: $font-size-xx-large;
            line-height: 1.5;
            color: $gray-light;
        }
    }

    &__image {
        position: relative;
        height: 45vh;
        background-size: cover;
        background-position: center center;

        &--main {
            height: 75vh;
            margin-bottom: $space--big;
            background-position: center;
            background-repeat: no-repeat;
            &-img {
                visibility: hidden;
            }
        }
    }
    &__content {
        position: relative;
        @include span(12);
        @include clearfix();
        @include susy-breakpoint($desktop, $generic_container--map) {
            @include span(8 of 12);
            @include push(2);
        }
        &__section--title {
            @include span(12 of 12);
            font-family: $font-family--secondary;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            margin-top: 2rem;
            @include t-text-align(center);
            @include susy-breakpoint($desktop, $generic_container--map) {
                @include span(10 of 12);
                @include push(1);
            }
        }

        &__p {
            display: block;
            &--column {
                @include susy-breakpoint($desktop, $generic_container--map) {
                    column-count: 2;
                }
            }
        }

        &__bq {
            position: relative;
            @include span(12);
            @include clearfix();
            @include t-text-align(center);
            font-size: $font-size-x-large;
            line-height: 1.6;
            font-style: italic;
            & + .c-blog__content__p {
                display: inline-block;
            }
        }

        &__img {

            @include span(12);
            @include susy-breakpoint($desktop, $generic_container--map) {
                @include span(10 of 12);
                @include push(1);
            }
            &--caption {
                @include t-text-align(center);
                font-family: $font-family--secondary;
                text-transform: uppercase;
                font-size: $font-size-xx-small;
                font-weight: bolder;
                letter-spacing: 0.0625rem;
                @include susy-breakpoint($desktop, $generic_container--map) {
                    font-size: $font-size-x-small;

                }
            }
            &--left {
                overflow: hidden;
                @include span(12);
                padding-bottom: 1.5rem;
                @include susy-breakpoint($desktop, $generic_container--map) {
                    width: span(8);
                    margin-left: -25%;
                }
            }
            &--right {
                @include span(last 12);
                margin: 0;
                padding-bottom: 1.5rem;
                @include susy-breakpoint($desktop, $generic_container--map) {
                    width: span(last 8 of 12);
                    margin-right: -25%;
                }
            }

            & + .c-blog__content__p {
                display: inline-block;
            }

        }
    }

    &__share {
        margin: 2rem auto;
        @include span(8 of 12);
        @include push(2);

        @include t-text-align(center);
        @include susy-breakpoint($desktop, $generic_container--map) {
            @include span(4);
            @include push(4);
        }

        &__platform {
            padding-top: 1rem;

            &--facebook {
                display: inline-block;
                width: 1.6rem;
                height: 1.6rem;

                @include bgSvg(blog__facebook-share);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                margin: 0 5px;
            }
            &--twitter {
                display: inline-block;
                width: 1.6rem;
                height: 1.6rem;

                @include bgSvg(blog__twitter-share);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                margin: 0 5px;
            }
            &--linkedin {
                display: inline-block;
                width: 1.6rem;
                height: 1.6rem;

                @include bgSvg(blog__linkedin-share);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                margin: 0 5px;
            }
        }

        &__end {
            line-height: 1;
            color: $gray-light;
            font-family: $font-family--secondary;
            font-size: $font-size-xxx-large;
            text-transform: uppercase;
            border-bottom: 1px solid $gray-lighter;
            &--small {
                color: $gray-light;
                font-family: $font-family--secondary;
                text-transform: uppercase;
                font-size: $font-size-xx-small;
                font-weight: $font-weight-base;
            }
        }
    }

    &__footer {
        &__single {
            position: relative;
            overflow: hidden;
            @include span(12);
            @include t-text-align(center);
            text-decoration: none;
            min-height: 20rem;
            display: table;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $white;
            background-size: 100%;
            transition: background-size 1s;
            @include susy-breakpoint($desktop, $generic_container--map) {
                @include t-text-align(left);
                @include span(6 of 12);
            }

            &__image{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                max-width: 100%;
                min-height: 100%;
                -webkit-transform: scale(1.05);
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            }

            &:hover {
                .c-blog__list__item__image{
                    -webkit-transform: scale(1);
                }
            }

            &--empty {
                display: none;
                @include susy-breakpoint($desktop, $generic_container--map) {
                    display: block;
                    position: relative;
                    background: $white;
                    padding: 40px;
                    overflow: hidden;
                    
                    &:before, &:after {
                        position: absolute;
                        content: '';
                        background: $gray-lightest;
                        display: block;
                        width: 100%;
                        height: 1px;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }

                    &:after {
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
            }
            &--inner {
                position: relative;
                display: table-cell;
                vertical-align: middle;
                color: $white;
            }
        }
    }
}

.c-blog-footer{
    padding: 1rem;
    background-color: $gray-lightest;

    &__logo {
        display: block;
        width: 100%;
        height: 4rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 80%;
        position: relative;
        opacity: 0.3;
        @include zindex(2);
        @include clearfix();
    }
    &__copyright{
        font-family: $font-family--secondary;
        font-weight: $font-weight-bold;
        font-size: $font-size-xx-small;
        color: $gray-light;
        text-transform: uppercase;

        @include t-text-align(center);
        @include span(12);
        @include clearfix();
        @include susy-breakpoint($desktop, $generic_container--map) {
            @include span(8 of 12);
            @include push(2)
        }
    }
    &__poweredby{
        font-family: $font-family--secondary;
        font-weight: $font-weight-light;
        font-size: $font-size-xxx-small;
        color: $gray-light;
        margin-top: 0.5rem;
        @include t-text-align(center);
        @include span(12);
        @include clearfix();
        @include susy-breakpoint($desktop, $generic_container--map) {
            @include span(8 of 12);
            @include push(2)
        }
    }
}

.band-app-download{
    background: #3db8de;
    height: 120px;
}