.mnu-page__content {
  position: relative;
  background-color: $white;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  /* fix bug on iOS */
  height: 100vh;
  overflow-y: auto;

  @include zindex($zindex-navigation);
  @include transform(translateZ(0));
  @include transition(transform 0.7s);
  @include transition-timing-function(cubic-bezier(.91, .01, .6, .99));
  .navigation--open & {
    @include transform(translateX(100%));
  }
}

.navigation--open {
  overflow: hidden;
}

.nav--scroll {
  height: 4rem;
  position: fixed;
  width: 100%;
  top: -4rem;
  left: 0;
  background-color: $white;
  z-index: 2;
  border-bottom: 2px solid #f2f2f2;
  @include transform(translateZ(0));
  @include transition(all 0.7s);
  @include transition-timing-function(cubic-bezier(.91, .01, .6, .99));
  .navigation--open & {
    @include transform(translateX(100%));
  }
  &--mnu{
    @extend .o-absolute-mnu__button;
    @include bgSvg(blog__nav--mnu);
    border-bottom: 2px solid #f2f2f2;
    right: 0;
  }
  &--back-base {
    @extend .o-absolute-mnu__button;
    @include bgSvg(blog__nav--back);
    left: 0;
    z-index: 2;
  }
  &--back {
    @extend .o-absolute-mnu__button;
    @include bgSvg(blog__nav--back);
    border-bottom: 2px solid #f2f2f2;
    left: 0;
    z-index: 2;
  }
  &--logo {
    @extend .o-absolute-mnu__button;
    width: 10rem;
    background-color: transparent;
    @include bgSvg(bemind__logo--bold--black);
    left: 50%;
    margin-left:-5rem;

    &:hover {
      background-color: transparent;
    }
  }

  &--open {
    top: 0;
  }
  &--titlegroup {
    @include t-text-align(center);
    @include span(12 of 12);
    padding: 1.1rem 4rem 0;
    .c-blog__subtitle--navbar {
      display: none;
    }

    @include susy-breakpoint($desktop, $generic_container--map) {
      @include span(10 of 12);
      @include t-text-align(right);
      padding-left: 0;
      padding-right: 0;
      padding-top: 1rem;
      .c-blog__subtitle--navbar {
        display: initial;
      }
    }
  }

  &__reading-time {
    @include span(12 of 12);
    padding: 0 4rem 0 4rem;

    @include susy-breakpoint($desktop, $generic_container--map) {
      @include span(2 of 12);
      padding-top: 0.5rem;
    }

  }
  &__reading-total {
    @include t-text-align(center);
    font-family: $font-family--secondary;
    font-size: $font-size-xx-small;
    font-weight: $font-weight-heavy;
    display: none;
    @include susy-breakpoint($desktop, $generic_container--map) {
      display: block;
    }
  }
  &__reading-progress {
    @include t-text-align(center);

    &__item {
      font-size: $font-size-xx-small;
      color: $gray-lightest;
      &--active {
        color: $gray-dark;
      }
    }
    @include susy-breakpoint($desktop, $generic_container--map) {
      @include bgSvg(reading-time);
      padding-top: 1rem;
      background-position: center top;
      background-repeat: no-repeat;
    }
  }
}
