$white:         white;
$black:         #000000;
$gray-lightest: #e6e6e6;
$gray-lighter:  #dddddd;
$gray-light:    #9B9B9B;
$gray-dark:     #4A4A4A;
$gray-darker:   #8c8c8c;
$gray-darkest:  #666;

$primary-color: #282941;
$highlight-color: #3db8de;

$mnu-background-color: $primary-color;
$mnu-background-color--hover: darken($primary-color, 10%);
$mnu-font-color: $white;

$color-link:    $primary-color;
$color-link-hover: darken($primary-color, 10%);