@mixin make-row(){
  @include break;
}

@mixin make-grid-columns($column-number){
  $i: 1;
  $class-name: 'o-col';
  @for $i from 1 through $column-number {
    .#{$class-name}-#{$i}-of-#{$column-number} {
      @include span ($i of $column-number);
    }
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}