@charset "UTF-8";
/*
  DEPENDENCIES
  (eg. Fonts, Grid system)
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,700,400italic,300italic,300,100italic,100);
/*
  SETTINGS
  Globally-available settings.
  Config switches.
  Brand colours, etc.
*/
*, *:before, *:after {
  box-sizing: border-box; }

/*
  TOOLS
  Globally-available tools.
  Public mixins.
  Helper functions.
*/
.grayscale {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); }

/*
  GENERIC
  Ground zero styles.
  Low-specificity, far-reaching.
  Resets, Normalize.css, etc.
*/
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
  ELEMENTS
  Unclassed HTML elements.
  H1–H6, basic links, lists, etc.
  Last layer we see type selectors (e.g. a {}, blockquote {}).
*/
a {
  text-decoration: none;
  color: #282941; }
  a:hover, a:focus {
    color: #151521; }

body, html {
  /* prevent horizontal scrolling */
  overflow-x: hidden; }

img {
  width: 100%;
  display: block; }

p {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  display: inline-block; }
  p:first-of-type {
    margin-top: initial; }
  p:last-of-type {
    margin-bottom: initial; }

blockquote, figure {
  margin: 1.5rem auto; }

/*
  OBJECTS
  OOCSS.
  Design patterns.
  No cosmetics.
  Begin using classes exclusively.
  Agnostically named (e.g. .ui-list{}).
*/
.o-container--boxed {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto; }
  .o-container--boxed:after {
    content: " ";
    display: block;
    clear: both; }
.o-container--full {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .o-container--full:after {
    content: " ";
    display: block;
    clear: both; }
.o-container--nav {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .o-container--nav:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 1280px) {
    .o-container--nav {
      margin: auto 4.5rem; } }

.o-row {
  clear: both; }
  .o-row:before, .o-row:after {
    content: " ";
    display: table; }
  .o-row:after {
    clear: both; }

/* generic 12 cols based on settings */
.o-col-1-of-12 {
  width: 8.33333%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%; }

.o-col-2-of-12 {
  width: 16.66667%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%; }

.o-col-3-of-12 {
  width: 25%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%; }

.o-col-4-of-12 {
  width: 33.33333%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%; }

.o-col-5-of-12 {
  width: 41.66667%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%; }

.o-col-6-of-12 {
  width: 50%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%; }

.o-col-7-of-12 {
  width: 58.33333%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%; }

.o-col-8-of-12 {
  width: 66.66667%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%; }

.o-col-9-of-12 {
  width: 75%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%; }

.o-col-10-of-12 {
  width: 83.33333%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%; }

.o-col-11-of-12 {
  width: 91.66667%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%; }

.o-col-12-of-12 {
  width: 100%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%; }

body {
  color: #4A4A4A;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased; }

.o-title, .c-blog__title {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 74px;
  margin: 0; }

.o-subtitle, .c-hero__subtitle, .c-blog__subtitle {
  font-family: "Sentinel SSm A", "Sentinel SSm B", Serif;
  font-size: 20px;
  margin: 0; }

.o-absolute-mnu__button, .nav--scroll--mnu, .nav--scroll--back-base, .nav--scroll--back, .nav--scroll--logo {
  display: block;
  position: absolute;
  top: 0;
  height: 4rem;
  width: 4rem;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 500ms ease; }
  .o-absolute-mnu__button:hover, .nav--scroll--mnu:hover, .nav--scroll--back-base:hover, .nav--scroll--back:hover, .nav--scroll--logo:hover {
    background-color: #e6e6e6; }

/*
  COMPONENTS
  Designed pieces of UI.
  Still only using classes.
  More explicitly named (e.g. .products-list {}).
*/
.c-author {
  display: inline-block;
  margin: 0 auto; }
  .c-author:before, .c-author:after {
    content: " ";
    display: table; }
  .c-author:after {
    clear: both; }
  .c-author__figure {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-top: 1.25rem; }
  .c-author__profile {
    margin: 1.67rem auto;
    margin-left: 0.5rem;
    display: inline-block;
    float: left;
    height: 2rem;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    line-height: 1.25;
    text-align: left; }
  .c-author__name {
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    font-size: 16px; }
  .c-author__role {
    display: block;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    font-family: "Sentinel SSm A", "Sentinel SSm B", Serif; }

.c-btn {
  display: inline-block;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  color: #282941;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 1rem;
  text-decoration: none;
  background-color: rgba(40, 41, 65, 0.2);
  transition: background-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out; }
  .c-btn:hover, .c-btn:focus {
    background-color: rgba(40, 41, 65, 0.8);
    color: white; }

.mnu-page__content {
  position: relative;
  background-color: white;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* fix bug on iOS */
  height: 100vh;
  overflow-y: auto;
  z-index: 2;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99); }
  .navigation--open .mnu-page__content {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.navigation--open {
  overflow: hidden; }

.nav--scroll {
  height: 4rem;
  position: fixed;
  width: 100%;
  top: -4rem;
  left: 0;
  background-color: white;
  z-index: 2;
  border-bottom: 2px solid #f2f2f2;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: all 0.7s;
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99); }
  .navigation--open .nav--scroll {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  .nav--scroll--mnu {
    background-image: url("img//blog__nav--mnu.png");
    background-image: none, url("img//blog__nav--mnu.svg");
    border-bottom: 2px solid #f2f2f2;
    right: 0; }
  .nav--scroll--back-base {
    background-image: url("img//blog__nav--back.png");
    background-image: none, url("img//blog__nav--back.svg");
    left: 0;
    z-index: 2; }
  .nav--scroll--back {
    background-image: url("img//blog__nav--back.png");
    background-image: none, url("img//blog__nav--back.svg");
    border-bottom: 2px solid #f2f2f2;
    left: 0;
    z-index: 2; }
  .nav--scroll--logo {
    width: 10rem;
    background-color: transparent;
    background-image: url("img//bemind__logo--bold--black.png");
    background-image: none, url("img//bemind__logo--bold--black.svg");
    left: 50%;
    margin-left: -5rem; }
    .nav--scroll--logo:hover {
      background-color: transparent; }
  .nav--scroll--open {
    top: 0; }
  .nav--scroll--titlegroup {
    text-align: center;
    width: 100%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding: 1.1rem 4rem 0; }
    .nav--scroll--titlegroup .c-blog__subtitle--navbar {
      display: none; }
    @media (min-width: 1280px) {
      .nav--scroll--titlegroup {
        width: 83.33333%;
        float: left;
        padding-left: 2.5%;
        padding-right: 2.5%;
        text-align: right;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1rem; }
        .nav--scroll--titlegroup .c-blog__subtitle--navbar {
          display: initial; } }
  .nav--scroll__reading-time {
    width: 100%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding: 0 4rem 0 4rem; }
    @media (min-width: 1280px) {
      .nav--scroll__reading-time {
        width: 16.66667%;
        float: left;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 0.5rem; } }
  .nav--scroll__reading-total {
    text-align: center;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-size: 12px;
    font-weight: 600;
    display: none; }
    @media (min-width: 1280px) {
      .nav--scroll__reading-total {
        display: block; } }
  .nav--scroll__reading-progress {
    text-align: center; }
    .nav--scroll__reading-progress__item {
      font-size: 12px;
      color: #e6e6e6; }
      .nav--scroll__reading-progress__item--active {
        color: #4A4A4A; }
    @media (min-width: 1280px) {
      .nav--scroll__reading-progress {
        background-image: url("img//reading-time.png");
        background-image: none, url("img//reading-time.svg");
        padding-top: 1rem;
        background-position: center top;
        background-repeat: no-repeat; } }

.c-hero {
  height: 70%;
  width: 100%;
  display: table;
  position: relative; }
  .c-hero__wrapper {
    height: 100%;
    display: block;
    position: absolute;
    width: 100%; }
  .c-hero__titlegroup {
    position: relative;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    pointer-events: none;
    padding-top: 20vh;
    padding-bottom: 20vh;
    width: 100%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%; }
    .c-hero__titlegroup:before, .c-hero__titlegroup:after {
      content: " ";
      display: table; }
    .c-hero__titlegroup:after {
      clear: both; }
    @media (min-width: 1280px) {
      .c-hero__titlegroup {
        width: 66.66667%;
        float: left;
        padding-left: 2.5%;
        padding-right: 2.5%;
        margin-left: 8.33333%; } }
  .c-hero__title {
    margin: 0.5em 0 0;
    letter-spacing: -1px;
    line-height: 1;
    color: #fff;
    font-size: 130px;
    font-family: "Sentinel SSm A", "Sentinel SSm B", Serif;
    font-weight: 200;
    font-style: italic; }
    .c-hero__title--bold {
      font-weight: 600;
      font-style: normal; }
  .c-hero__subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
    margin: 0;
    margin-top: 1rem;
    color: white; }

.tilt {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.tilt__back,
.tilt__front {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.tilt__back {
  position: relative; }

.tilt__front {
  position: absolute;
  top: 0;
  left: 0; }

.c-blog__logo {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-size: auto 80%;
  height: 4rem;
  position: relative;
  background-image: url("img//blog__marchio--bold.png");
  background-image: none, url("img//blog__marchio--bold.svg");
  z-index: 2; }
  .c-blog__logo:before, .c-blog__logo:after {
    content: " ";
    display: table; }
  .c-blog__logo:after {
    clear: both; }
  .c-blog__logo--back, .c-blog__logo--mnu {
    display: block;
    position: absolute;
    top: 0;
    height: 4rem;
    width: 4rem;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 500ms ease; }
    .c-blog__logo--back:hover, .c-blog__logo--mnu:hover {
      background-color: #e6e6e6; }
  .c-blog__logo--back {
    background-image: url("img//blog__nav--back.png");
    background-image: none, url("img//blog__nav--back.svg");
    left: 0; }
  .c-blog__logo--mnu {
    background-image: url("img//blog__nav--mnu.png");
    background-image: none, url("img//blog__nav--mnu.svg");
    right: 0; }
.c-blog .c-blog__single {
  font-family: "Sentinel SSm A", "Sentinel SSm B", Serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 2; }
.c-blog__header {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: 2.5%;
  padding-right: 2.5%;
  line-height: normal;
  text-align: center; }
.c-blog__title {
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1; }
  .c-blog__title--bold {
    font-weight: 500; }
  .c-blog__title--navbar {
    font-size: 16px;
    text-transform: none; }
.c-blog__subtitle {
  margin: 0;
  font-size: 16px; }
  .c-blog__subtitle--bold {
    font-weight: 600; }
  .c-blog__subtitle--navbar {
    font-size: 12px;
    font-weight: 900; }
  .c-blog__subtitle--list {
    font-weight: 200;
    font-family: "Sentinel SSm A", "Sentinel SSm B", Serif;
    line-height: 1.4;
    margin: 0;
    margin-top: 1rem;
    color: #9B9B9B; }
  .c-blog__subtitle--list--header {
    color: #9B9B9B;
    margin-bottom: 1rem; }
.c-blog__excerpt {
  margin-top: 4rem; }
  .c-blog__excerpt__content {
    text-align: center;
    font-family: "Sentinel SSm A", "Sentinel SSm B", Serif;
    font-style: italic;
    font-size: 38px;
    line-height: 1.5;
    color: #9B9B9B; }
.c-blog__image {
  position: relative;
  height: 45vh;
  background-size: cover;
  background-position: center center; }
  .c-blog__image--main {
    height: 75vh;
    margin-bottom: 4rem;
    background-position: center;
    background-repeat: no-repeat; }
    .c-blog__image--main-img {
      visibility: hidden; }
.c-blog__content {
  position: relative;
  width: 100%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%; }
  .c-blog__content:before, .c-blog__content:after {
    content: " ";
    display: table; }
  .c-blog__content:after {
    clear: both; }
  @media (min-width: 1280px) {
    .c-blog__content {
      width: 66.66667%;
      float: left;
      padding-left: 2.5%;
      padding-right: 2.5%;
      margin-left: 16.66667%; } }
  .c-blog__content__section--title {
    width: 100%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-size: 26px;
    font-weight: 500;
    margin-top: 2rem;
    text-align: center; }
    @media (min-width: 1280px) {
      .c-blog__content__section--title {
        width: 83.33333%;
        float: left;
        padding-left: 2.5%;
        padding-right: 2.5%;
        margin-left: 8.33333%; } }
  .c-blog__content__p {
    display: block; }
    @media (min-width: 1280px) {
      .c-blog__content__p--column {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2; } }
  .c-blog__content__bq {
    position: relative;
    width: 100%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
    font-size: 30px;
    line-height: 1.6;
    font-style: italic; }
    .c-blog__content__bq:before, .c-blog__content__bq:after {
      content: " ";
      display: table; }
    .c-blog__content__bq:after {
      clear: both; }
    .c-blog__content__bq + .c-blog__content__p {
      display: inline-block; }
  .c-blog__content__img {
    width: 100%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%; }
    .c-blog__content__img--caption {
      text-align: center;
      font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bolder;
      letter-spacing: 0.0625rem; }
      @media (min-width: 1280px) {
        .c-blog__content__img--caption {
          font-size: 14px; } }
    .c-blog__content__img--left {
      overflow: hidden;
      width: 100%;
      float: left;
      padding-left: 2.5%;
      padding-right: 2.5%;
      padding-bottom: 1.5rem; }
      @media (min-width: 1280px) {
        .c-blog__content__img--left {
          width: 66.66667%;
          margin-left: -25%; } }
    .c-blog__content__img--right {
      width: 100%;
      float: right;
      padding-left: 2.5%;
      padding-right: 2.5%;
      margin: 0;
      padding-bottom: 1.5rem; }
      @media (min-width: 1280px) {
        .c-blog__content__img--right {
          width: 66.66667%;
          margin-right: -25%; } }
    .c-blog__content__img + .c-blog__content__p {
      display: inline-block; }
.c-blog__share {
  margin: 2rem auto;
  width: 66.66667%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-left: 16.66667%;
  text-align: center; }
  @media (min-width: 1280px) {
    .c-blog__share {
      width: 33.33333%;
      float: left;
      padding-left: 2.5%;
      padding-right: 2.5%;
      margin-left: 33.33333%; } }
  .c-blog__share__platform {
    padding-top: 1rem; }
    .c-blog__share__platform--facebook {
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      background-image: url("img//blog__facebook-share.png");
      background-image: none, url("img//blog__facebook-share.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      margin: 0 5px; }
    .c-blog__share__platform--twitter {
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      background-image: url("img//blog__twitter-share.png");
      background-image: none, url("img//blog__twitter-share.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      margin: 0 5px; }
    .c-blog__share__platform--linkedin {
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      background-image: url("img//blog__linkedin-share.png");
      background-image: none, url("img//blog__linkedin-share.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      margin: 0 5px; }
  .c-blog__share__end {
    line-height: 1;
    color: #9B9B9B;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    border-bottom: 1px solid #dddddd; }
    .c-blog__share__end--small {
      color: #9B9B9B;
      font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 300; }
.c-blog__footer__single {
  position: relative;
  overflow: hidden;
  width: 100%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%;
  text-align: center;
  text-decoration: none;
  min-height: 20rem;
  display: table;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100%;
  transition: background-size 1s; }
  @media (min-width: 1280px) {
    .c-blog__footer__single {
      text-align: left;
      width: 50%;
      float: left;
      padding-left: 2.5%;
      padding-right: 2.5%; } }
  .c-blog__footer__single__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    min-height: 100%;
    -webkit-transform: scale(1.05);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; }
  .c-blog__footer__single:hover .c-blog__list__item__image {
    -webkit-transform: scale(1); }
  .c-blog__footer__single--empty {
    display: none; }
    @media (min-width: 1280px) {
      .c-blog__footer__single--empty {
        display: block;
        position: relative;
        background: white;
        padding: 40px;
        overflow: hidden; }
        .c-blog__footer__single--empty:before, .c-blog__footer__single--empty:after {
          position: absolute;
          content: '';
          background: #e6e6e6;
          display: block;
          width: 100%;
          height: 1px;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto; }
        .c-blog__footer__single--empty:after {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); } }
  .c-blog__footer__single--inner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: white; }

.c-blog-footer {
  padding: 1rem;
  background-color: #e6e6e6; }
  .c-blog-footer__logo {
    display: block;
    width: 100%;
    height: 4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 80%;
    position: relative;
    opacity: 0.3;
    z-index: 2; }
    .c-blog-footer__logo:before, .c-blog-footer__logo:after {
      content: " ";
      display: table; }
    .c-blog-footer__logo:after {
      clear: both; }
  .c-blog-footer__copyright {
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #9B9B9B;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%; }
    .c-blog-footer__copyright:before, .c-blog-footer__copyright:after {
      content: " ";
      display: table; }
    .c-blog-footer__copyright:after {
      clear: both; }
    @media (min-width: 1280px) {
      .c-blog-footer__copyright {
        width: 66.66667%;
        float: left;
        padding-left: 2.5%;
        padding-right: 2.5%;
        margin-left: 16.66667%; } }
  .c-blog-footer__poweredby {
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-weight: 200;
    font-size: 10px;
    color: #9B9B9B;
    margin-top: 0.5rem;
    text-align: center;
    width: 100%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%; }
    .c-blog-footer__poweredby:before, .c-blog-footer__poweredby:after {
      content: " ";
      display: table; }
    .c-blog-footer__poweredby:after {
      clear: both; }
    @media (min-width: 1280px) {
      .c-blog-footer__poweredby {
        width: 66.66667%;
        float: left;
        padding-left: 2.5%;
        padding-right: 2.5%;
        margin-left: 16.66667%; } }

.c-blog .c-blog__list {
  position: relative;
  z-index: 1; }
  .c-blog .c-blog__list__wrapper {
    padding: 0;
    margin: 0; }
  .c-blog .c-blog__list__item {
    padding: 1rem;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 35vh;
    width: 100%;
    display: table;
    overflow: hidden; }
    .c-blog .c-blog__list__item:before, .c-blog .c-blog__list__item:after {
      content: " ";
      display: table; }
    .c-blog .c-blog__list__item:after {
      clear: both; }
    .c-blog .c-blog__list__item__image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 100%;
      min-height: 100%;
      -webkit-transform: scale(1.05);
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; }
    .c-blog .c-blog__list__item .c-blog__list__item--wrapper {
      display: table-cell;
      padding: 10vh 0;
      vertical-align: middle;
      width: 100%;
      float: left;
      padding-left: 2.5%;
      padding-right: 2.5%; }
      .c-blog .c-blog__list__item .c-blog__list__item--wrapper:before, .c-blog .c-blog__list__item .c-blog__list__item--wrapper:after {
        content: " ";
        display: table; }
      .c-blog .c-blog__list__item .c-blog__list__item--wrapper:after {
        clear: both; }
      @media (min-width: 1280px) {
        .c-blog .c-blog__list__item .c-blog__list__item--wrapper {
          width: 66.66667%;
          float: left;
          padding-left: 2.5%;
          padding-right: 2.5%;
          margin-left: 16.66667%; } }
    .c-blog .c-blog__list__item:after {
      content: "";
      transition: opacity 500ms ease;
      background-color: white;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 1;
      z-index: 0; }
    .c-blog .c-blog__list__item:before {
      content: '';
      width: 96px;
      height: 0.125rem;
      display: inline-block;
      background: #dadada;
      position: absolute;
      bottom: -1px;
      left: 50%;
      margin-left: -48px;
      z-index: 1; }
    .c-blog .c-blog__list__item:last-child:before {
      height: 0rem; }
    .c-blog .c-blog__list__item--wrapper {
      z-index: 1;
      position: relative;
      padding: 2rem;
      display: block;
      text-decoration: none;
      color: #4A4A4A;
      text-align: center; }
    .c-blog .c-blog__list__item--active .c-blog__list__item__image {
      -webkit-transform: scale(1); }
    .c-blog .c-blog__list__item--active:after {
      background-color: white;
      opacity: 0; }
    .c-blog .c-blog__list__item--active:before {
      height: 0rem; }
    .c-blog .c-blog__list__item--active .c-blog__list__item--wrapper {
      color: white; }
      .c-blog .c-blog__list__item--active .c-blog__list__item--wrapper .c-blog__subtitle {
        color: white; }
    .c-blog .c-blog__list__item:hover {
      background-color: rgba(255, 255, 255, 0.8); }

/*
  TRUMPS
  Overrides, helpers, utilities.
  Only affect one piece of the DOM at a time.
  Usually carry !important.
*/
.t-align-left {
  text-align: left; }

.t-align-right {
  text-align: right; }

.t-align-center {
  text-align: center; }

.t-blog__date {
  background-image: url("img//blog-num-1.png");
  background-image: none, url("img//blog-num-1.svg");
  min-height: 5rem;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 1rem; }
  .t-blog__date--number {
    font-size: 16px; }
  .t-blog__date--progressive {
    font-size: 22px; }
